body{
	margin: 0px;
	padding: 0px;
	width:100%;
}

.header{
	background-color: #666666;
	padding:0px;
	margin:0px;
	color:white;

}

.button{
  margin: auto;
  text-align: center;

}

.header img {
	margin:0px;
	padding:0px;
}

.header h1 {
	display:inline-block;
	position:relative;
	top:-27px;
	margin:0px;
	padding:0px;
}

.infoiphone{
	font-size: 20px;
	text-align: center;
	font-family: 'Brush Script MT', cursive;
	margin:auto;
	margin-top:10px;
	width:80%;
}

.mediaObject-element {
  position:relative;
  width: 80%;
  margin:auto;
}

h2{
	text-align: center;
	position:relative;
	z-index:10;
}


.container{
	margin-top:50px;
}


.thank_you{
	border: solid;
	width: 80%;
	margin: auto;
	margin-bottom:2em;
}

.thank_you h2{
	color: green;
}

.thank_you p, .thank_you h5{
	text-align: center;
	position:relative;
	z-index:10;
}

.thank_you table {
	margin:auto	;
	margin-bottom:2em;
}

.thank_you .error{
	color:red; important!
}

#div1{
  position: relative;
  margin: auto;
  display: table;
  color:purple;
}

.hidden{
  visibility: hidden;
}

.error_asterisk{
  margin-left:1em;
  color:red;
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main_container {
  padding: 20px 15%;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;	
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}